.fPic{
    text-align: center;
    height: 80px;
    width: 80px;
    margin: 0 30px;
    transition: all 0.3s ease-in;
}

.footerImages{
    display: flex;
    justify-content: center;
    gap:80px;
}


.fPic:hover{
    transform: scale(1.2);
}

footer{
    background: linear-gradient(90deg, #000000, #1f1f1f);
    flex-direction: column;
    align-items: center;
    gap:20px;
}

.logoFooter {
    margin-top:20px;
    width: 250px;
    text-align: left;
    display: block;
    position: absolute;
    transform: translateY(10px);
    transition: ease-in-out (2s);
}