body {
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #ffffff;
}
 
header {
    background: linear-gradient(90deg, #000000, #1f1f1f);
    padding: 20px;
    text-align: center;
}
#welcome{
    color: #ffffff;
    font-style: italic;
    text-align: center;
}
#description{
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #ffcc00;
    font-size: 1.2em;
}
h1 {
    font-size: 2.5em;
    font-weight: bold;
}
#head{
    border-bottom:  4px solid #222;
    border-radius: 4px;
    display: flex;
    width: 1000px;
    font-size: 45px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}
.cars{
    height: 300px;
    width: 400px;
}
nav ul {
    list-style: none;
    padding: 0;
}
 
nav ul li {
    display: inline;
    margin: 0 15px;
}
 
nav ul li a {
    text-decoration: none;
    color: #ffcc00;
    font-size: 1.2em;
}
#fusionExpress{
    text-align: center;
    color: #dcd8d4;
}
.catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px;
}
 
.section {
    background-color: #222;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    text-align: center;
    width: 400px;
    box-shadow: 0px 4px 10px rgba(255, 204, 0, 0.5);
    transition: transform 0.3s ease-in-out;
}

.car img {
    width: 100%;
    border-radius: 10px;
}
 
h2 {
    color: #ffcc00;
    margin: 10px 0;
}
 
button {
    background-color: #ffcc00;
    border: none;
    color: #000;
    padding: 10px 20px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}

.section:hover {
    transform: scale(1.1);
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
 
.catalog {
    display: flex;
    flex-direction: row;
}
 
footer {
    background: linear-gradient(90deg, #000000, #1f1f1f);
    padding: 15px;
    text-align: center;
    font-size: 0.9em;
    position: relative;
    bottom: 0;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#findUs{
    font-size: 43px;
    text-align: center;
    color: #dcd8d4;
}
#copyright{
    font-size: 23px;
    color: #dcd8d4;
    text-align: center;
}
#emailNumber{
    display: flex;
    justify-content: center;
    gap: 35px;
    color: #dcd8d4;
}
.fPic{
    height: 150px;
    width: 150px;
    margin: 0;
    transition: 0.3s ease-in-out;
}
.footerImages{
    display: flex;
    justify-content: center;
    gap:80px;
}
.fPic:hover{
    transform: scale(1.1);
}
.contacts{
    font-size: 40px;
}