body{
    background-color: #EEE9E4;
    font-family: sans-serif;
    margin:0;
}
.navBar{
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: right;
    background-color:#1364BB;
    font-size: x-large;
    display: flex;
    margin: 0;
    box-shadow: 0px 0px 2px 2px;
}
.navCont{
    font-weight: bold;
}
.navCont .aNav{
    display:block;
    color: #F4F3F2;
    padding: 20px 17px;
    text-decoration: none;
}
.navCont:hover{
    background-color: #5B89BD;
}
#homePage{
    background-color: #242124;
}
h1{
    text-align: center;
    margin-top: 35px;
    font-size: 55px;
    font-style: italic;
}
#description{
    color:#242124;
    text-align: center;
    width: 550px;
    display: flex;
    justify-self: center;
}
.headers{
    text-align: center;
    color: #161416;
    border-bottom:  4px solid #b1aeab;
    border-radius: 4px;
    display: flex;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    font-size: 45px;
    font-weight: bold;
}
footer{
    box-shadow: 0px 5px 5px 5px;
    background-color: #161416;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#findUs{
    font-size: 43px;
    text-align: center;
    color: #dcd8d4;
}
#copyright{
    font-size: 23px;
    color: #dcd8d4;
    text-align: center;
}
#emailNumber{
    display: flex;
    justify-content: center;
    gap: 35px;
    color: #dcd8d4;
}
.fPic{
    height: 150px;
    width: 150px;
    margin: 0;
}
.footerImages{
    display: flex;
    justify-content: center;
    gap:80px;
}
.contacts{
    font-size: 40px;
}