body {
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #ffffff;
}
 
header {
    background: linear-gradient(90deg, #000000, #1f1f1f);
    padding: 20px;
    text-align: center;
}
#pageTitle{
    color: #ffffff;
    font-style: italic;
    text-align: center;
    width:900px;
    justify-self: center;
}
#description{
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #ffcc00;
    font-size: 1.2em;
}
h1 {
    font-size: 2.5em;
    font-weight: bold;
}
.headers{
    border-bottom:  4px solid rgba(255, 204, 0, 0.5);
    border-radius: 4px;
    display: flex;
    width: 1000px;
    font-size: 45px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}
nav ul {
    list-style: none;
    padding: 0;
}

.navLink{
    transition: all 0.3s ease-in;
    display: inline-block;
}

.navLink:hover{
    transform: scale(1.2);
    background-color: #1f1f1f;
    padding: 4px;
    border-radius: 4px;
    text-decoration: underline rgba(255, 204, 0, 0.5);
}
nav ul li {
    display: inline;
    margin: 0 15px;
}
 
nav ul li a {
    text-decoration: none;
    color: #ffcc00;
    font-size: 1.2em;
}
#fusionExpress{
    text-align: center;
    color: #dcd8d4;
}

#cardDetails{
    display: flex;
    justify-self: center;
    justify-content: center;
    background-color: #222;
    border-radius: 10px;
    text-align: center;
    width: 900px;
    height: 595px;
    box-shadow: 0px 4px 10px rgba(255, 204, 0, 0.5);
    transition: all 0.3s ease-in-out;
    position: relative;
}

form{
    padding: 20px;
}

#cardDetails:hover{
    transform: scale(1.05);
    box-shadow: 3px 4px 10px #ffcc00;
}

label{
    font-size: 1.2em;
    align-self: left;
    display: flex;
}

#cardDetails img{
    object-fit: contain;
    display: flex;
    position: absolute;
    right:38px;
}

.infGroup{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

input{
    padding: 10px;
    border: 1px solid #7474744b;
    border-radius: 4px;
    background-color:  #7474744b;
    display: flex;
    width: 800px;
    height: 30px;
    color: #ffaa00;
}

input::placeholder{
    color:#ffaa00;
}

.btn {
    font-size: 24px;
    font-weight: bold;
    width: 95%;
    padding: 10px;
    border: none;
    outline: none;
    color: #000000;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 4px;
}
.btn::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:  #ffaa00;
    left: 0;
    top: 0;
    border-radius: 4px;
}
/* glow */
.btn::before {
    content: "";
    background: linear-gradient(45deg,  #ffcc00,  #ff7700, #ff4d00);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height:  calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 0;
}
  
@keyframes glowing {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
}
  
/* hover */
    .btn:hover::before {
    opacity: 1;
    
}
  
.btn:active:after {
    background: transparent;
}
  
.btn:active {
    color: #000;
    font-weight: bold;
}

footer {
    background: linear-gradient(90deg, #000000, #1f1f1f);
    padding: 15px;
    text-align: center;
    font-size: 0.9em;
    position: relative;
    bottom: 0;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#findUs{
    font-size: 43px;
    text-align: center;
    color: #dcd8d4;
}
#copyright{
    font-size: 23px;
    color: #dcd8d4;
    text-align: center;
}
#emailNumber{
    display: flex;
    justify-content: center;
    gap: 35px;
    color: #dcd8d4;
}
.fPic{
    height: 150px;
    width: 150px;
    margin: 0;
    transition: 0.3s ease-in-out;
}
.footerImages{
    display: flex;
    justify-content: center;
    gap:80px;
}
.fPic:hover{
    transform: scale(1.2);
}
.contacts{
    font-size: 40px;
}